*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    width: 100%;
    background-color:#fff;
}


/*inicio footer*/
footer p{
    text-align: center;
}
.bold{
    font-weight: 600;
}
/*fim footer*/